<a href="https://colab.research.google.com/github/arunbabyaj/Android-Program/blob/main/Tutorial_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1

### 1.write a Python program which accept the radius of a circle from the user and computes the area

In [1]:
from math import pi
r = float(input ("Enter Radius Of Circle"))
print ("The area of the circle:" + str(pi * r**2))

Enter Radius Of Circle6
The area of the circle:113.09733552923255

### 2. Program to find the biggest of three numbers

In [2]:
num1 = float(input("Enter 1st number: "))
num2 = float(input("Enter 2nd number: "))
num3 = float(input("Enter 3rd number: "))

if (num1 >= num2) and (num1 >= num3):
   large = num1
elif (num2 >= num1) and (num2 >= num3):
   large = num2
else:
   large = num3

print("The largest number among",num1,",",num2,"and",num3,"is: ",large)

Enter 1st number: 4
Enter 2nd number: 5
Enter 3rd number: 6
The largest number among 4.0 , 5.0 and 6.0 is:  6.0

### 3. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers

In [3]:
number_list= input("Enter comma seperated list of numbers:")
list = number_list.split(",")
tuple = tuple(list)
print('List is : ',list)
print('Tuple is : ',tuple)

Enter comma seperated list of numbers:1,2,3,4,5,
List is :  ['1', '2', '3', '4', '5', '']
Tuple is :  ('1', '2', '3', '4', '5', '')

### 4. Write a Python program to accept a filename from the user print the extension of that.

In [4]:
file1 = input("enter the full file name")
extension = file1.split(".")
print ("file extension is: " + repr(extension[-1]))

enter the full file namean.java
file extension is: 'java'

### 5. Write a Python program to display the first and last colors from the following list.

In [5]:
colors = ["Red","Green","White" ,"Black"]
print( "%s %s"%(colors[0],colors[-1]))

Red Black

### 6. Write a Python program that accept an integer(n) and computes the value of n+nn+nnn.

In [6]:
n = int(input("enter n  "))
n1 = int( "%s" % n )
n2 = int( "%s%s" % (n,n) )
n3 = int( "%s%s%s" % (n,n,n) )
print (n1+n2+n3)

enter n  9
1107

### 7. Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2

In [22]:
l1 = set(["White", "Black", "Red"])
l2 = set(["Red", "Green"])
print("sets are:")
print(l1)
print(l2)
print("Difference of l1 and l2:")
print(l1.difference(l2))
print("difference of l2 and l1")
print(l2.difference(l1))

sets are:
{'White', 'Red', 'Black'}
{'Red', 'Green'}
Difference of l1 and l2:
{'White', 'Black'}
difference of l2 and l1
{'Green'}

### 8. Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', exceptthe first char itself.

In [35]:

def editString(string1):
  char = string1[0]
  string1 = string1.replace(char, '$')
  string1 = char + string1[1:]

  return string1

stri=input("enter")
print(change_char(stri))

enteraruna
arun$

### 9. Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string

In [36]:
def stringop(s1, s2):
  l1 = s2[:2] + s1[2:]
  l2 = s1[:2] + s2[2:]

  return l1 + ' ' + l2
print(stringop('arun', 'emil'))

emun aril

### 10. Write a Python Program to remove the nth index character from a non empty string

In [37]:
str = input("enter string:")
n = int(input("enter n:"))
str1 = ''
for char in range(0, len(str)):
	if(char != n):
		str1 += str[char]

print("Modified string after removing ", n, "th character ")
print(str1)

enter stringarun
enter n1
Modified string after removing  1 th character
aun

### 11. Write a Python program to change a given string to a new string where the first and last chars have been exchanged

In [42]:
def swap(string):
	start = string[0]
	end = string[-1]
	
	new = end + string[1:-1] + start
	print(new)
	
s=input("enter string:")
swap(s)

enter string:arun
nrua

### 12. Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [44]:
input1 = input("enter input:")  
print("upper case:" ,input1.upper())  
print("Lower case",input1.lower())

enter input:arun
upper case: ARUN
Lower case arun

### 13. Write a Python program to get the largest number from a list

In [47]:
list1=[]
n=int(input("enter number of elemnts:"))
for i in range(0,n):
 elem = int(input())
list1.append(elem)

list1.sort()
print("Largest element is:", list1[-1])

enter number of elemnts:2
2
3
Largest element is: 3

## 14. Write a Python program to clone or copy a list

In [64]:
list1=[1,2,3,4]
list2=list1.copy()
print("original list")
print(list1)
print("copied list")
print(list2)

original list
[1, 2, 3, 4]
copied list
[1, 2, 3, 4]

### 15. Write a Python program to shuffle and print a specified list

In [67]:
from random import shuffle
num = [33,6,7,32,444,55,4,0]
shuffle(num)
print(num)

[32, 33, 4, 444, 6, 7, 55, 0]

### 16. Write Python script to sort(ascending and descending) a dictionary by value

In [72]:
import operator

d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

s= dict(sorted(d.items(), key=operator.itemgetter(1)))

print('ascending order : ',s)

s1= dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))

print('descending order : ',s1)

ascending order :  {0: 0, 2: 1, 1: 2, 4: 3, 3: 4}
descending order :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

### 17. Write a Python script to add key to a dictionary

In [78]:
dic = {'ab':11, 'ca':20}
print(dic)
dic.update({2:30})
print("new dictionary")
print(dic)

{'ab': 11, 'ca': 20}
new dictionary
{'ab': 11, 'ca': 20, 2: 30}

### 18. Write a Python script to merge two Python dictionaries

In [77]:
def Merge(dic1, dic2):
    return(dict2.update(dict1))
     
dict1 = {'arun': 20, 'emil':28}
dict2 = {'abin':30 , 'albin': 32}
 

print(Merge(dict1, dict2))
 
print(dict2)

None
{'abin': 30, 'albin': 32, 'arun': 20, 'emil': 28}